name: Lint & Test
on: 
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
          
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Shellcheck
        run: shellcheck bin/*.sh
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
        with:
          dependencies-yml: ./fixtures/dependencies.yml
          output-file: ./fixtures/PHP_EXTENSION_VERSIONS
          dry-run: true
      - run: bash ./bin/test-textfile.sh ./fixtures/PHP_EXTENSION_VERSIONS
      - run: bash ./bin/validate-dependencies-yml-schema.sh ./fixtures/dependencies.yml
      - run: bash ./bin/test-dependencies-yml.sh ./fixtures/dependencies.yml
